body {
    margin: 0;
    font-family: "Inter", system-ui;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e7f6ff;
}

* {
    font-family: "Inter", system-ui;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.wrapper {
    max-width: 1080px;
    margin: 50px auto;

    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
}

header {
    border-bottom: 1px solid #eaeaea;
    h3,
    p {
        margin: 0;
    }
    .offer {
        &:hover {
            opacity: 0.9;
        }
    }
}

.content {
    h1 {
        margin: 0;
        margin-bottom: 40px;
    }
}

.sneakers {
    gap: 30px;
}

.card {
    border: 1px solid #f3f3f3;
    padding: 20px;
    width: 210px;
    border-radius: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: box-shadow 0.2s ease-in-out, transform 0.3s linear;

    .favorit {
        position: absolute;
        cursor: pointer;
    }

    &:hover {
        box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.2);
        transform: translateY(-3px);
    }

    span {
        font-size: 13px;
        opacity: 0.5;
        text-transform: uppercase;
    }

    b {
        font-size: 13px;
    }

    h5 {
        font-weight: 300;
        font-size: 14px;
        margin-top: 0px;
    }

    button {
        border: none;
        background: transparent;
    }

    .plus {
        cursor: pointer;
    }
}

.search-block {
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    padding: 0 15px;

    input {
        border: none;
        padding: 15px;
        font-size: 16px;
        width: 200px;
    }
}

.cartItem {
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    overflow: hidden;

    p {
        font-size: 16px;
    }
    b {
        font-size: 14px;
    }
}

.cartTotalBlock {
    flex-direction: column;

    ul {
        margin-bottom: 10px !important;

        li {
            display: flex;
            align-items: flex-end;
            margin-bottom: 20px;
        }

        div {
            flex: 1;
            height: 1px;
            border-bottom: 1px dashed #1a1919;
            position: relative;
            top: -4px;
            margin: 0 10px;
        }
    }

    .greenBtn {
        position: relative;

        &:disabled {
            animation: btn-loading 1.4s ease-in infinite;
        }

        img {
            position: absolute;
            right: 30px;
            top: 20px;
            animation: transform 1.4s ease-in infinite;
        }

        @keyframes transform {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(5px);
            }
        }
    }
}

.cartEmpty {
    .greenBtn {
        position: relative;

        img {
            position: absolute;
            top: 20px;
            left: 30px;
            animation: transform 1.4s ease-in infinite;
        }
    }

    p {
        text-align: center;
    }
}

.greenBtn {
    width: 100%;
    width: 325px;
    height: 55px;
    margin: auto;

    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;

    background: #9dd558;
    border-radius: 18px;
    border: none;

    transition: background 0.1s ease-in-out;

    cursor: pointer;

    &:hover {
        background: lighten($color: #9dd558, $amount: 5%);
    }
    &:active {
        background: darken($color: #9dd558, $amount: 5%);
    }

    &:disabled {
        background-color: #bebebe;
        cursor: default;
    }
}

.removeBtn {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;

    &:hover {
        opacity: 1;
    }
}

@keyframes btn-loading {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}
